.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c2237;
}

.tab li {
  float: left;
}

.tab li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.tab li a:hover {
  background-color: #273142;
  transform: scale(1.1);
}